.footer{
  text-align: center;
  background-color: #000000;
  position:fixed;
  bottom:0;
  width:100%;
  padding:20px;
  height:50px;
}

.footer ul {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  position:relative;
    margin: auto;
  max-width:960px;
}

.bottomNav:first-of-type {
  margin-left: 50px;
}

.bottomNav:nth-child(2) {
  margin-right: 100px;
}


.addButton {
  width:70px;
  height:0;
  margin-right:-18px !important;
  margin-bottom:-10px !important;
  padding-bottom:35px;
  padding-top:35px;
  border-radius: 50%;
  overflow:hidden;
  background-color:#6705c5;
  position:absolute;
  bottom:0;
  right:0;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size:72px;
  font-weight:700;
  color: #ffffff;
}

.addButton a:link, .addButton a:visited {
  color: #ffffff;
}

.addButton:hover {
background-color:#1cefff;
}

.footer p{
  margin: 0 0 8px 0;
  font-size: 14px;
  color: #FFF;
}

.footer a{
  color: #1cefff;
  text-decoration: none;
  font-weight: 300;
}

.footer a:hover{
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
}
