/* Photo styles */
.main-photo {
  width:100%;
}


.mainmap {
  height: 500px;
  width: 100%;
  float: left;
  position: relative;
}
.single-description {
  width: 100%;
  background-color: black;
  color: white;
  text-align:center;
  margin-top: -4px;
  padding: 20px;

}

section {
  margin-bottom:30px;

}


.loading {
  margin-top: 100px;
  width:180px;
  height: 500px;
  margin-left:auto;
  margin-right:auto;
}


.innerLoading img {
  width: 60px;
  float: left;
}

.innerLoading h3 {
  margin-left: 16px;
  margin-top: 20px;
  float:left;
  font-size: 24px;
}
