/* Photo styles */
.main-photo {
  width:100%;
}

.single-description {
  width: 100%;
  background-color: black;
  color: white;
  text-align:center;
  margin-top: -4px;
  padding: 20px;

}

section {
  margin-bottom:30px;
}
