.form {
  background: #FAFAFA;
  padding: 32px 0;
  border: 1px solid #eee;
  border-radius: 4px;
}

.form-content{
  width: 100%;
  max-width: 350px;
  margin: auto;
  margin-top:70px;
  font-size: 14px;
  background-color:#FAFAFA;
  border-radius: 14px;
  padding: 20px;
  padding-bottom: 40px;
  box-sizing: border-box;
}

.message-box {
  color: red;
  margin-bottom: 4px;
  height: 20px;
}

.form-p {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-p a{
 color: #6705c5;
 text-decoration: underline;
}

.form-title{
  margin-top: 20px;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.form-field{
  width: 100%;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: normal;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid #ddd;
  outline: none;
  color: #212121;
}

textarea {
  min-height: 200px;
}


.submit-button{
  text-transform:uppercase;
  border-radius:14px;
  padding: 10px;
  padding-bottom:6px;
  background: #6705c5;
  color: #ffffff;
  cursor: pointer;
  float:right;
}

.submit-button:hover {
  background-color:#1cefff;
}

.appear {
  display: block;
}
